.cars-container {
  padding: 1rem;
  gap: 1rem;
  margin: auto;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #45CAFF;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.card-img-top {
  border: 1px solid white;
  border-radius: 6px;
}

.card:hover {
  cursor: pointer;
}
