.carousel {
  display: flex;
  margin: auto;
  width: 50vw;
  /* height: 80vh; */
}

.carousel-item:before {
  border-radius: 10px;
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  display: block;
  position: absolute;
  top: 0;
  width: 50vw;
  height: 52.2vh;
}

.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel img {
  margin: 1rem 0rem 1rem 0rem;
  border-radius: 10px;
  border: 1px solid white;
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.carousel-control-prev {
  position: absolute;
}

.carousel-control-next {
  position: absolute;
}

.carousel-control-prev-icon {
  width: 200%;
  height: 200%;
}

.carousel-control-next-icon {
  width: 200%;
  height: 200%;
}

.active.carousel-item:hover {
  cursor: pointer;
}
